.DS_Store

#ignore node_modules, as the node project is not "deployed" per se: http://www.mikealrogers.com/posts/nodemodules-in-git.html
/node_modules

/dist
/generated

.sass-cache
bower_components


## hmm. we don't want to check these in because the are controlled by bower/bower-copy.
#But I think lineman uses a different approach and would check check-in 3rd party dependencies.
#oh well.. do this for now.
/vendor
